@page
@using Translator.Data.Models
@model TranslatorDictionary

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Translation of @ViewBag.word</title>
</head>
<body>
<div>
    <h2 style="text-align:center">@ViewBag.word:    @ViewBag.translation</h2>
</div>
</body>
</html>