@model object

@{
    ViewBag.Title = "title";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Translation of @ViewBag.Word</title>
</head>
<body>
<div>
    @ViewBag.Translation
</div>
</body>
</html>